<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>목록</title>
    <link rel="stylesheet" href="/css/post/list.css">
</head>
<body>
    <header th:replace="/fixed/header.html :: #main-header"></header>
    <div>
        <a href="/post/write">작성하기</a>
    </div>
    <div id="order-wrap">
        <a href="recent" class="order on">최신순</a>
        <a href="hot" class="order">인기순</a>
    </div>
    <div id="search-wrap">
        <div id="홍길동">홍길동</div>
        <div id="test">test</div>
        <input type="text" name="keyword" placeholder="검색어 입력">
    </div>
    <table id="posts-wrap">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성 날짜</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="page-wrap"></div>
</body>
<script src="/js/util.js"></script>
<script src="/js/post/service.js"></script>
<script src="/js/post/layout.js"></script>
<script src="/js/post/event.js"></script>
</html>