<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
</head>
<body>
    <form action="/post/write" method="post" th:object="${postDTO}" enctype="multipart/form-data">
<!--        <input type="hidden" name="memberId">-->
        <input type="text" th:field="*{postTitle}">
        <textarea th:field="*{postContent}"></textarea>
<!--        <input class="file" type="file" name="file" multiple>-->
        <input class="file" type="file" name="file">
        <input class="file" type="file" name="file">
        <input class="file" type="file" name="file">
        <button>작성</button>
    </form>
</body>
<!--<script src="/js/file/service.js"></script>-->
<!--<script src="/js/file/event.js"></script>-->
<script th:inline="javascript">
    // const memberId = [[${session.member.id}]];
    // document.querySelector("input[name=memberId]").value = memberId;
</script>
</html>









