<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카카오 로그인</title>
</head>
<body>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=c87c26c641832d92e09c529afe085195&redirect_uri=
http://localhost:10000/kakao/login&response_type=code"><img src="/images/kakao/kakao_login_medium_wide.png"></a>
</body>
</html>